/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


img {
    max-width: 200px;
}

.sw-page-theme  {
    background-image: url("images/stars.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: black;
}

.sw-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.h-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 5px solid grey;
    border-radius: 5px;
}

.card--light {
    border-color: white;
    background-color: lightskyblue;
    
}

.card--dark {
    border-color: red;
    background-color: black;
    color: white;
}


.card__title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.card__list {
    font-family: 'Press Start 2P', cursive;
    max-width: 300px;
}

.card__image {
    background-color: grey;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.card__image--light {
    background-color: white;
}

.card__image--dark {
    background-color: red;
}

.sw-button {
    width: 100%;
    height: auto;
    font-family: 'Press Start 2P', cursive;
    background-color: white;
    border: 4px solid black;
    margin: 5px;
    padding: 10px;
    color: blue;
}

.sw-button--dark {
    background-color: black;
    color: white;
    border-color: red;
}

.sw-button--dark:hover {
    color: black;
    background-color: red;
}

.sw-button--light {
    background-color: lightskyblue;
    color: black;
    border-color: white;
}

.sw-button--light:hover {
    color: lightskyblue;
    background-color: white;
}


/* Happy coding! */