/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


img {
    max-width: 200px;
}

.sw-page-theme  {
    background-image: url("images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.sw-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.card {
    background-color: white;
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: 5px solid grey;
    border-radius: 5px;
}

.card--light {
    border-color: white;
    background-color: lightskyblue;
    
}

.card--dark {
    border-color: red;
    background-color: black;
    color: white;
}


.card__title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.card__list {
    font-family: 'Press Start 2P', cursive;
}

.card__image {
    background-color: grey;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.card__image--light {
    background-color: white;
}

.card__image--dark {
    background-color: red;
}


/* Happy coding! */